*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
#header-tablet{
    display: none;
    background-color: rgb(221, 13, 13);
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    color: white;

}
#header-area{
    /* height: 100px; */
    /* background: #333; */
    border-bottom: 1px solid rgb(236, 231, 231);
}
.info-shop{
    background: white;
    height: 100px;
    padding-top: 25px;
}
.header-main{
    background: white;
    height: 100px;
}
.number-phone{
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
}
.phone-icon{
    margin-right: 30px;
    display: inline-block;
    font-size: 22px;
    width: 35px;
    height: 35px;
    border: 1px solid rgb(175, 175, 16);
    border-radius: 100%;
    text-align: center;
    color:rgb(175, 175, 16) ;
}
.check-in{
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    font-size: 17px;
}
.check-icon{
    margin-right: 7px;
    display: inline-block;
}
.header-main{
    padding-top: 25px;
    /* background-color: green; */
}
.search{
   margin-left: 20px;
   margin-top: 10px;
    border: 1px solid rgb(167, 147, 147);
   height: 34px;
   line-height: 30px;
   border-radius: 40px;
   padding: 0 5px;
   color: black;
}
.search input{
    margin-right: 5px;
    outline: none;
    border: none;
    background: transparent;
}
.icon-search{
    font-size: 18px;
}
.cart{
    margin-top: -5px;
    margin-left: 40px;
}
.icon-cart{
    font-size: 30px;
    margin-top: 10px;
}

.menu{
    border-bottom: 1px solid rgb(236, 231, 231);
}
.menu-toggle{
    display: none;
    margin-left: 30px;
}
.menu-relative{
    display: flex;
    position: relative;
}
.menu-item{
    padding: 10px 20px;
}
.menu-item a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    margin-right: 4px;
}
.menu-child{
    position: absolute;
    width: 300px;
    height: auto;
    border: 1px solid rgb(184, 173, 173);
    display: none;
   background: white;
   z-index: 1;
}
.menu-item:hover .menu-child{
        display: block;
}
.menu-child li{
    padding: 10px;
    border-bottom: 1px solid rgb(228, 222, 222);
}
.new-products{
    margin-top: 30px;
}
.products-item{
    padding: 0 15px;
    position: relative;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.title{
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
}
.products-item a{
    text-decoration: none;
    color: black;
}
.image-products{
    width:130px;
    height:180px;
    object-fit: cover;
    margin-bottom: 40px;
    transition: 1.1s linear;
    display: inline-block ;
}
.image-products img{
    width: 100%;
    height: 100%;
}
.image-products:hover{
    transform: rotate(-15deg)
}
.sale{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 30px;
   border-radius: 100%;
   background:#E33E17;
   padding-top: 5px;
}
.sale a{
    text-decoration: none;
    color:  white;
}
.price a{
    text-decoration: none;
    color: #E33E17;
}
.price del {
    color:  black;
}
.more-products{
    text-align: center;
}
.more-products button{
    padding: 10px 20px;
    border: 3px solid black;
}
.more-products a{
    text-decoration: none;
    color:  black;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}
.more-products button:hover{
    background: black;
}
.more-products button:hover a{
    color: white;
}
.introduce{
    margin-top: 30px;
}
.text{
    margin-top: 35px;
    text-align: center;
    text-transform: capitalize;
}
.text h4{
    font-size: 30px;
    color: rgb(150, 150, 41);
}
.text p{
    font-size: 18px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
.footer{
    background: black;
    color:  white;
    margin-top: 20px;
}
#footer-bottom p{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; ;
}
#footer-bottom{
    border-top: 1px solid grey;
    height: 60px;
    line-height: 60px;
}
@media (max-width:1181px) {
    .menu-item{
        padding: 10px;
    }
}
@media (max-width: 996px) {
    #header-tablet{
        display: block;
    }
    .info-shop{
    display: none;
    }
    .menu{
       margin-left: -301px;
       width: 300px;
       border: 1px solid rgb(202, 192, 192);
       background: gainsboro;
       transition: 0.6s;
       height: 100vh;
       display: none;
    }
    .menu.hide{
        display: block;
        margin-left: 0;
    }
    .menu-relative{
        display: unset;
    }
    .menu-child{
        position: absolute;
        width: 300px;
        height: auto;
        border: 1px solid rgb(184, 173, 173);
        display: none;
       background: white;
       left: -17px;
    }
    .menu-item a{
        font-size: 20px;
    }
    .menu-item{
        border-bottom: 1px solid rgb(202, 192, 192);
        padding: 20px 0;
    }
    .cart{
        margin-left: 200px;
    }
    .menu-toggle{
        display: block;
        margin-left: 40px;z
    }
}
@media (max-width: 772px) {
   .menu-toggle{
    margin-left: 10px;
   }
   .cart{
    margin-left: 20px;
}
}
@media (max-width: 560px) {
    .menu-toggle{
        margin-left: 40px;
    }
}